* {
    line-height: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color:cornsilk;
}

.title {
    color: white;
    text-align: center;
    font-size: 40px;
    background-color: orangered;
}

.recipes {
    list-style: none;
    text-align: left;
}

.recipes a:link, a:visited {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: 800;
}

.recipes a:hover, a:active {
    text-decoration: underline;
}

.recipe-name {
    text-align: center;
    font-size: 50px;
    font-weight: 1000;
}

img {
    height: fit-content;
    width: auto;
    border-style: solid;
    border-width: 50px;
    border-color: orangered;
}

q {
    font-style: italic;
    font-size: 23px;
    color: grey;
}

.subtitle {
    font-size: 30px;
    border-style: outset;
    padding-left: 10px;
    border-color: lightsalmon;
}